.btn-confirmar {
    background-color: #28a745;
    border-color: #28a745;
  }
  
  .btn-confirmar:hover {
    background-color: #218838;
    border-color: #1e7e34;
  }
  
  .btn-limpiar-historial {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-limpiar-historial:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  
  .card-body {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .card-body p {
    margin-bottom: 0.5rem;
  }
  
  .badge {
    font-size: 0.875rem;
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
  }
  .text-lg {
    font-size: 1.25rem; /* Tamaño de fuente más grande */
  }
  .background {
    background-image: url('C:/Users/usuario/Desktop/CubikProyect/src/assets/fondoReserva.jpg'); 
    background-size: cover;
  background-repeat: repeat-y;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
z-index: -1;
  }
  .btn-cancelar-reserva {
    background-color: #dc3545;
    border-color: #dc3545;
}

.btn-cancelar-reserva:hover {
    background-color: #c82333;
    border-color: #bd2130;
}
.selected {
  background-color: #007bff; /* Color de fondo cuando está seleccionado */
  color: #fff; /* Color del texto cuando está seleccionado */
}
.custom-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
}

.custom-btn:hover {
  transform: translateY(-3px);
}

.btn-confirmar {
  background: linear-gradient(to bottom, #4CAF50 0%, #2E8B57 100%);
}

.btn-cancelar-reserva {
  background: linear-gradient(to bottom, #FF6347 0%, #CD5C5C 100%);
}

.btn-modificar-reserva {
  background: linear-gradient(to bottom, #4169E1 0%, #6495ED 100%);
}

/* Estilos adicionales para los efectos de clic */
.custom-btn:active {
  transform: translateY(1px);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}